*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style: none;

}

a{
  text-decoration: none;
}

body{
  color: #fff;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

.navbar{
  height: 70px;
}

.container{
  max-width: 1100px;
  padding: 0 40px;
  margin: 0 auto;
}
.flex{
  height: 100%;
}

.header{
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 150px 1fr;
  align-items: center;
  position: relative;
  z-index: 1000;

}

.nav-bar{
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

.nav-list{
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 1rem;

  align-items: center;
}
.nav-list > li > a{
  padding: 1.2rem 1rem;
  color: #fff;
  font-weight: 500;
}

.nav-list li a{
  position: relative;
  font-size: 1em;
}

.dropdown{
  position: absolute;
  display: none;

  background: #fff;
  margin-top: 1rem;
  border-radius: 8px;
}
.dropdown li > a{
  display: list-item;
  padding: .7rem 2rem;
}
.dropdown li > a:hover{
  font-weight: bold;
}

.dropdown-active{
  display: block;
}

.btn-header{
  justify-self: flex-end;
}

.btn{
  padding: .7rem 1.5rem;
  border-radius: 25px;
  font-weight: 500;
}
.btn-bg{
  background: #fff;
  color: tomato;
}

.toggle-mobile{
  display: none;
}

@media (max-width: 768px){
  .header{
    grid-template-columns: 1fr 1fr;
  }
  .menu-mobile{
    display: none;
  }
  .nav-bar{
    top: 70px;
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 0 0 12px 12px ;
    width: 100%;
    text-align: center;
    grid-auto-flow: row;
  }
  .btn-header{
    justify-self: center;
  }
  .nav-list{
    padding: 1rem;
    grid-gap: 0;
    border-bottom: 1px solid rgb(47, 120, 245);
    display: grid;
    grid-auto-flow: row;
    list-style: none;
  }
  .dropdown{
    background-color: rgb(114, 188, 252);
  }
  .dropdown-active{
    position: inherit;
  }
  .nav-list{
    display: list-item;
  }
  .nav-list li a{
    padding: 1rem;
    display: block;
    color: #000;
  }
  .btn-header{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .toggle-mobile{
    display: block;
    justify-self: flex-end;
    font-size: 1.5em;
    background: none;
    border: none;
    color: #fff;
  }
}
/* FIM NAVBAR */


/* PRIMEIRA SEÇÃO */
.intro{
  height: 500px;
  background: url('../images/bg-pattern-intro.svg'), tomato;
  position: relative;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: -350px;
  top: -70px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 0 0 140px;
}

.prelude{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.prelude h2{
  font-size: 4em;
  line-height: 1.5em;
}

.prelude p{
  font-size: 1.5em;
}

@media (max-width: 800px){
  .intro{
    font-size: 63%;
  }
}
.btn-intro{
  margin-top: 70px;
}

/* Seção Designed */

.section-design{
  color: #000;
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.box-design{
  margin-top: 70px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  text-align: start;
}

.text h2{
  font-size: 1.25em;
  line-height: 4em;
}
.text p{
  font-size: .85em;
  line-height: 2em;
}

.box-design .img{
  background: url('../images/illustration-editor-desktop.svg');
  background-size: cover;
  position: relative;
  top: -150px;
  height: 600px;
}

/* Segunda Seção */
.section-state-art{
  height: 400px;
  background-color: indigo;
  margin-bottom: 10rem;
  border-radius: 0 100px 0 100px;
}

.state{
  height: 100%;
}


.box-state-art{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-gap: 20px;
  align-items: center;
  position: relative;
  height: 100%;
}


.box-state-art img {
  width: auto;
  position: relative;
  top: 25px;
}

/* last section */

.last-img{
  background: url('../images/illustration-laptop-desktop.svg');
  background-size: cover;
  position: relative;
  top: -100px;
  left: -70px;
  background-position: center;
  height: 600px;
}

/* footer */

.footer{
  height: 300px;
  background-color: lightslategray;
  padding-top: 3rem;
}

.box-footer{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 20px;
}

.box-footer h4{
  margin-bottom: 20px;
}

.box-footer ul li{
  display: list-item;
}
.box-footer ul li a{
  display: block;
  color: rgb(69, 68, 68);
  padding-top: .5rem;
}

.box-footer ul li a:hover{
  color: #fff;
}


/* credits */
.attribution{
  background: rgb(245, 125, 74);
  color: #fff;
  text-align: center;
  padding: .7rem 0;
}

.attribution a{
  color: #fff;
}
.attribution a:hover{
  color: rgba(242, 242, 242, 0.406);
}